.Rproj.user
.Rhistory
*.html
*/osp_analyses_files/*
Vilnius_and_elsewhere.gif
.smbdelete*
Germany*
Belgium*
Colombia*
India*
Mexico*
Brazil*
United States*
extra/Report*/figure-html/*
extra/Report *.html
extra/Country-graphs.md
